@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 1rem;
  overflow: hidden;
}
html {
  scroll-behavior: smooth;
}

.container1 {
  columns: 4 280px;
}
div.active {
  display: block;
}
div.displayNone {
  display: none;
}
button[disabled] {
  opacity: 0.5;
  background-color: gray;
  color: rgb(66, 65, 65);
}
button[disabled]:hover {
  background-color: gray;
  cursor: not-allowed;
}
.loading1 {
  transform: translatex(-50%);
  background-color: rgba(0, 0, 0, 0.7);
}
.dot {
  opacity: 0;
  animation: wave 1s infinite;
}
.dot:nth-child(1) {
  animation-delay: 0.05s;
}
.dot:nth-child(2) {
  animation-delay: 0.15s;
}
.dot:nth-child(3) {
  animation-delay: 0.3s;
}
.sounded {
  animation: effective 0.5s infinite alternate;
  transition: all 0.5s;
}

@keyframes effective {
  from {
    background-color: #dad8d880;
    background-size: 0%;
  }
  to {
    background-color: #dad8d8;
    background-size: 100%;
  }
}
@keyframes wave {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
